* { font-family: serif; box-sizing: border-box;}

body { margin: 0; padding: 0; }

.topo { height: 50px; }

.topoInterior { width: 1100px; margin: auto; background-color: rgb(73, 69, 69); } /* Div principal dentro da div TOPO */

.logoMarca { height: 50px; float: left; }

.banner { height: 320px; margin-top: 13px; }

.bannerInterior { max-width: 1100px; margin: auto; background: linear-gradient(to bottom, #cac8c6, #d2d2d2); height: 320px; }

.imgSlogan { float: left; height: 300px; margin-left: 50px; }

.slogan { float: right; background: linear-gradient(to bottom, #cac8c6, #d2d2d2); margin-top: 70px ; margin-right: 120px; }

.frase1 { font-size: 35px; font-weight: bolder; }

.frase2 { font-size: 30px; font-style: italic; }

button { padding: 10px; padding-left: 20px; padding-right: 20px; margin: 26px; height: 40px;
    background-color: #95654f;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 35px;
    margin-left: 95px;
}

a { text-decoration: none; color: black; }

.conteudo {  padding-bottom: 100px; }

.conteudoInterno { max-width: 1120px; margin: auto; text-align: center; font-size: 20px; }

.destaques { padding: 15px; }

.fotos { display: flex; justify-content: space-between; flex-wrap: wrap; gap: 1px; }

.fotos figure { text-align: center; margin: 0; }

.fotos figcaption { margin-top: 8px; font-size: 14px; color: #333; font-weight: bold; }

figcaption:hover { font-size: 18px; transform: scale(1.1); transition: transform 0.7s ease; }

.imgDestaques1{ margin-left: 8px; }

.imgDestaques2{ margin-right: 8px; }

.menu { text-align: center; padding: 0; margin: 0; float: right; }

.menu li {
    list-style: none;
    min-width: 80px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.submenu { position: absolute; top: 100%; left: 0; }

.submenu li { display: none; }

.submenu a { font-size: 13px; }

.menu li:hover .submenu li{ display: block; }

.menu ul { margin: 0px; padding: 0px; list-style: none; }

.menu li:hover { background-color: #b68a76; }

.pai { margin-left: 35px; }

.social-links { position: fixed; bottom: 9px; left: 10px; display: flex; flex-direction: column; gap: 6px; }

.social-links a img { width: 25px; height: 25px; transition: transform 0.1s; }

.social-links a img:hover { transform: scale(1.3); }

footer { background-color: #e4a36d; padding: 5px; text-align: center; font-size: 14px; }